@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(../img/fondoRepeat.png);
}
/*header*/
header img {
  width: 10rem;
  height: auto;
  margin-right: auto;
}
/*nav*/
.navbar-toggler {
  display: none;
}
.navbar-ul {
  display: flex;
  flex-direction: row;
}
.navbar li a {
  color: white;
  transition: 0.5s;
}
.navbar li a:hover {
  color: #1ed760;
}
.btnCelular h5 {
  color: #1ed760;
}
/*Inicio*/
.contenedorGridH {
  margin-top: 25px;
  width: 100%;
  height: auto;
}
.gridHome {
  display: grid;
  grid-template-areas: "rels       duki        eladio" "trueno     badbunny    ysy   ";
  margin: 10px;
  row-gap: 15px;
}
.rels {
  grid-area: rels;
  display: flex;
  justify-content: center;
}
.duki {
  grid-area: duki;
  display: flex;
  justify-content: center;
}
.eladio {
  grid-area: eladio;
  display: flex;
  justify-content: center;
}
.trueno {
  grid-area: trueno;
  display: flex;
  justify-content: center;
}
.badbunny {
  grid-area: badbunny;
  display: flex;
  justify-content: center;
}
.ysy {
  grid-area: ysy;
  display: flex;
  justify-content: center;
}
main h1 {
  text-align: center;
  font-size: 60px;
}
.cancionesDestacadas {
  width: 350px;
  border-radius: 5%;
}
/*Recomendados*/
.contenedorVideoR {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.tituloChopper {
  display: flex;
  justify-content: center;
}
.chopperVideo {
  width: 600px;
  border-radius: 5%;
}

/*Exlporar*/
.mainCarusel {
  width: 700px;
  height: auto;
}
.borderCarusel {
  border: 3px solid;
}
.outline {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
/*footer*/
footer {
  background-color: #080404;
  text-align: center;
  bottom: 0%;
  padding-bottom: 5px;
  width: 100%;
  color: white;
}
footer a {
  color: white;
}
/*Playlist*/
.contenedorGridP {
  width: 100%;
  height: auto;
}
.gridPlaylist {
  display: grid;
  grid-template-areas: "playlist1     playlist2    playlist3" "playlist4     playlist5    playlist6";
  margin: 10px;
  row-gap: 15px;
}
.playlistRecomendadas {
  width: 350px;
  border-radius: 5%;
}
.playlistDuki {
  grid-area: playlist1;
  display: flex;
  justify-content: center;
}
.playlistYsy {
  grid-area: playlist2;
  display: flex;
  justify-content: center;
}
.playlistEladio {
  grid-area: playlist3;
  display: flex;
  justify-content: center;
}
.playlistBadbunny {
  grid-area: playlist4;
  display: flex;
  justify-content: center;
}
.playlistRels {
  grid-area: playlist5;
  display: flex;
  justify-content: center;
}
.playlistTrueno {
  grid-area: playlist6;
  display: flex;
  justify-content: center;
}
/*Contacto*/
.contactoBoostrap {
  margin: 15px 60px;
}
/*media*/
@media (max-width: 425px) {
  .navbar-toggler {
    display: flex;
  }
  .navbar-ul {
    display: none;
  }
}
@media (max-width: 425px) {
  .cancionesDestacadas {
    width: 160px;
  }
  .contenedorGridH {
    margin-top: 15px;
  }
  .gridHome {
    display: grid;
    grid-template-areas:
      "rels      duki    "
      "eladio     ysy     "
      "trueno     badbunny ";
    margin: 5px;
    row-gap: 5px;
  }
}

@media (max-width: 425px) {
  .contenedorGridP {
    margin-top: 15px;
  }
  .gridPlaylist {
    display: grid;
    grid-template-areas:
      "playlist1    playlist2"
      "playlist3    playlist4"
      "playlist5    playlist6";
    margin: 5px;
    row-gap: 5px;
  }
  .playlistRecomendadas {
    width: 160px;
  }
}
@media (max-width: 425px) {
  .mainCarusel {
    width: 350px;
    height: auto;
  }
  .borderCarusel {
    border: 3px solid;
  }
}
@media (max-width: 425px) {
  .contenedorVideoR {
    margin: 15px;
  }
  .chopperVideo {
    width: 350px;
    border-radius: 5%;
  }
  .tituloChopper {
    font-size: 20px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */
